/* set global font family, background image*/

body {
      font-family: sans-serif, monospace;
      background-image: url(/week5/images/Kertesz%20feb%2079.jpg);
      text-align: center;
      background-repeat: no-repeat;
      background-color: black;
      background-position: center;
      margin-top: 500px;
      margin-bottom: 120px;
      }
/*About page, same as homepage, different image, social links*/

body.About {
      font-family: sans-serif, monospace;
      text-align: center;
      background-color: black;
      background-position: center;
      margin-top: 500px;
      margin-bottom: 120px;   
        }


.img me {
        background: url(/week5/images/IMG_4749.jpg) no-repeat;
        display: block;
        background-position: center;
        margin-bottom: auto;
        width: 10%;
        }

/* unvisited link*/

        
  
/*selected link*/


/* Center on page, set width */

.content-wrapper {
      
                  }

/*make bigger and change color and style (change font family san seerif) and center */

header h1{ 
      background-color: black; 
      color: white;
      text-align: center;
      font-size: 3em;
      font-family: sans-serif monospace;
          }

a {
  font color: white;
  
}
  
  
p { 
  text-align: center;
  color: white;
  
}

li a{
    display: block;
    width: 60px;
    color: dimgray;
    padding: 8px 1em;
    text-decoration: none;
      }

/* Change the link color on hover */

li a:hover {
    background-color: dimgray;
    color: yellow;
}


aside {
  /* background color, float clear, clear both, float left, font color  */
  
}

aside ul {
  /* clear both. links?? */
  
  
}
  
article {
  /* background-color, float to the right?, font size  */
  
  }
  
 /* figure we want to center that using margin, size font */
figure {
      
  }

figcaption {
    
}



footer {
  /* images float left and center on page (float the images, create links and center links) */}
  clear:both;
  height:20vmin;

        }

footer img {
  margin: 
  width:
  min width:
          }

footer img-circle
    {
    border-radius: 50%;
    }

#footer a{
    float: center;
    text-align: center}








